$font-size-base: 16px;

$font-size-sm: 0.8em;
$font-size-md: 1.25em;
$font-size-lg: 1.563em;
$font-size-xl: 1.953em;

$color-brand: #ffd600;
$color-dark: #000;
$color-light: #fff;
$color-success: #1d4;
$color-error: #d21;
